header {
    padding: 5px;
    margin: 10px;
    align-items: center;
    justify-content: center;
}
h1 {
    font-size: 35px;
    color: red;
    background-color: black;
    text-align: center;
    height: 200px;
    font-weight: 400;
    font-size: 45px;
    border: 5px solid salmon;
    border-radius: 10px;
}

nav {
    height: 75px;
    width: 100vw;
    align-items: flex-start;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    
    margin: 4px;
}
button {
    width: 33%;
    height: 100%;
    background-color: darkblue;
    color: whitesmoke;
    font-size: 30px;
    border: 1px solid rgb(186, 166, 233);
    border-radius: 6px;
}

body {
    text-align: center;
    background-color: #d6d4e6;
}

footer {
    font-size: 18px;
    color: silver;
    height: 150px;
    width: 100vw;
    background-color: black;
    bottom: 50px;
}

.board {
    height: 1000px;
    width: 100%;
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
}

.firtColumn {
    justify-content: center;
    align-items: center;
}

.secondColumn {
    justify-content: center;
    align-items: center;
}

.thirdColumn {
    justify-content: center;
    align-items: center;
}

 .s1 {
    border: 4px solid black;
}

.s2 {
    border: 4px solid black;
}

.s3 {
    
   
    border: 4px solid black;
}

.s4 {
    border: 4px solid black;
}

.s5 {
    border: 4px solid black;
}

.s6 {
    border: 4px solid black;
}

.s7 {
    border: 4px solid black;
}

.s8 {
    border: 4px solid black;
}

.s9 {
    border: 4px solid black;
} 

.wh{
    width: 250px;
    height: 250px;
    cursor: pointer;
}

.wh:hover {
    background-color: rgb(255, 255, 255);
}
.score {
    font-size: 25px;
    margin: 20px;
}