h1 {
    font-size: 35px;
    color: red;
    background-color: black;
    display: block;
    text-align: center;
    height: 200px;
    align-items: center;
}

nav {
    height: 80px;
    width: 100vw;
    align-items: flex-start;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
}
button {
    width: 33%;
    height: 80px;
    background-color: darkblue;
    color: whitesmoke;
    font-size: 30px;
}

body {
    text-align: center;
}

footer {
    font-size: 18px;
    color: silver;
    height: 70px;
    width: 100vw;
    background-color: black;
}

.bottom {
    
}

.board {
    height: 725px;
    width: 100%;
    margin: 0;
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
}

.firtColumn {
    
    justify-content: center;
    align-items: center;
}

.secondColumn {
    
    justify-content: center;
    align-items: center;
}

.thirdColumn {
   
    justify-content: center;
    align-items: center;
}

 .s1 {
    
    height: 30px;
    width: 30px;
    border: 4px solid black;
}

.s2 {
    
    height: 30px;
    width: 30px;
    border: 4px solid black;
}

.s3 {
    
    height: 30px;
    width: 30px;
    border: 4px solid black;
}

.s4 {
    
    height: 30px;
    width: 30px;
    border: 4px solid black;
}

.s5 {
    border: 10px solid black;
    height: 30px;
    width: 30px;
    border: 4px solid black;
}

.s6 {
    
    height: 30px;
    width: 30px;
    border: 4px solid black;
}

.s7 {
    
    height: 30px;
    width: 30px;
    border: 4px solid black;
}

.s8 {
    
    height: 30px;
    width: 30px;
    border: 4px solid black;
}

.s9 {
    
    height: 30px;
    width: 30px;
    border: 4px solid black;
} 

.wh{
    width: 200px;
    height: 200px;
}