h1 {
    font-size: 35px;
    color: red;
    background-color: black;
    display: block;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav {
    align-items: flex-start;
    display: inline-block;
    text-align: center;
    background-color: blue;
    color: coral;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

div {
    border: 4px bold black;
}
